<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon" />
    <title >轻旅行 | 让旅行更简单</title>
    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
<div class="wrapper">
    <div class="block-center mt-xl wd-xl">
        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <a href="/index">
                    <h1 style="color: white;font-size: 1.250em;">TRAVEL&nbsp;&amp;&nbsp;LIGHT</h1>
                </a>
            </div>
            <div class="panel-body">
                <p class="text-center pv">重置密码</p>
                <form id="form" data-parsley-validate="true" onsubmit="return false">
                    <p class="text-center pv">请填写您的新密码</p>
                    <div class="form-group has-feedback">
                        <input id="newpassword" type="password" placeholder="输入新密码" class="form-control"/>
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    </div>
                    <button id="setNewPwdButton" class="btn btn-block btn-primary mt-lg">提交</button>
                </form>
                <div id="errorMsg" class="alert alert-danger text-center" style="display:none;margin-top: 5px;"></div>
            </div>
        </div>
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>2016</span>
            <span>-</span>
            <span>2018</span>
            <br/>
            <span>www.travellight.xyz</span>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../jquery/jquery-3.3.1.min.js"></script>
<script type="application/javascript">
    /*<![CDATA[*/
            $("#setNewPwdButton").on('click',function () {
                var email = getQueryString("email");
                var sid = getQueryString("sid");
                var url = '/user/setNewPassword';
                $.ajax({
                    url: url,
                    type: 'post',
                    datatype: 'json',
                    data: {
                        email: email,
                        sid: sid,
                        newpassword: $("#newpassword").val()
                    },
                    success: function (data) {
                        if(data.code == '0'){
                            window.open('/login', '_self');
                        }else{
                            $("#errorMsg").html(data.msg);
                            $("#errorMsg").show();
                        }
                    }
                })
            });
            function getQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            }
    /*]]>*/
</script>
</html>
