<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    用户名：<input type="text" name="username" id="username"/>
    密码：<input type="password" name="password" id="password"/>
    <button id="btn_login">登录</button>
    <div id="errorMsg" style="display:none;"></div>
</body>
<script type="text/javascript" src="../index/vendor/jquery/jquery.min.js"></script>
<script type="application/javascript">
    $("#btn_login").on('click',function () {
        $.ajax({
            url: '/user/login',
            type: 'post',
            datatype: 'json',
            data: {
                username: $("#username").val(),
                password: $("#password").val()
            },
            success: function (data) {
                if(data.code == '0'){
                    //跳转至home页
                    window.open(data.data,'_self');
                }else{
                    //用户名或密码错误
                    $("#errorMsg").html(data.msg);
                    $("#errorMsg").show();
                }
                //alert(JSON.stringify(data));
            }
        })
    });
</script>
</html>